:root {
  --tb-height: 30px;
}

* {
  background-color: transparent;
}

input {
  outline: none;
}

body {
  margin: 0;
}

#toolbar {
  height: var(--tb-height);
  background-color: darkslategrey;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

#contents {
  margin-top: var(--tb-height);
  opacity: 1;
}
