:root {
  --tb-height: 30px;
}

* {
  background-color: transparent;
  user-select: none;
}

input {
  outline: none;
}

body {
  margin: 0;
}
div[data-tauri-drag-region]{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

#toolbar {
  height: var(--tb-height);
  background-color: darkslategrey;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

#contents {
  margin-top: var(--tb-height);
  opacity: 1;
  text-align: center;
}
